#main-navbar {
    width: 3.5vw;
    height: 100vh;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

#home-logo {
    width: 1.7vw;
    padding-left: 0.5vw;
    padding-top: 2.1vh;
    transform: rotate(15deg);
}

#main-navbar ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 14.5vh;
    cursor: pointer;
}

#main-navbar li {
    padding-bottom: 2vh;
}

#main-navbar li img {
   width: 1.5vw;
}