section {
	width: 22vw;
	background-color: var(--second-bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	color: white;
	text-align: center;
	font-weight: 600;
	font-size: 1.5vw;
	margin: 0;
	padding-top: 2.1vh;
}

h1 span {
	display: inline-block;
	transform: rotate(180deg);
	line-height: 1em;
}

#A-maj {
	font-size: 130%;
}

h2 {
	font-size: 1.2vw;
}

#all-articles-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: -2.2vw;
	width: 20vw;
	margin-top: 12.3vh;
}