#words-section {
	width: 18vw;
	background-color: var(--second-bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#main-title {
	color: white;
	text-align: center;
	font-weight: 600;
	font-size: 1.25vw;
	margin: 0;
	padding-top: 2.1vh;
}

#main-title span {
	display: inline-block;
	transform: rotate(180deg);
	line-height: 1em;
}

#A-maj {
	font-size: 130%;
}

#all-articles-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: -2.2vw;
	width: 20vw;
	margin-top: 12.3vh;
}