:root {
    --main-bg-color: #2e2e30;
    --second-bg-color: #29282b;
    --border-color: #363538;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    width: 1.5vw;
}